[submodule "aselcis/cgcof_contact_fields"]
	path = aselcis/cgcof_contact_fields
	url = git@github.com:Aselcis-Consulting/cgcof_contact_fields.git
	branch = 12.0
[submodule "aselcis/account_invoice_collegiate"]
	path = aselcis/account_invoice_collegiate
	url = git@github.com:Aselcis-Consulting/account_invoice_collegiate.git
	branch = 12.0
[submodule "aselcis/product_collegiate_premium"]
	path = aselcis/product_collegiate_premium
	url = git@github.com:Aselcis-Consulting/product_collegiate_premium.git
	branch = 12.0

[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 12.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 12.0
