*{
    font-size: 16px;
    font-family: 'flama';
}
#cont-edit, #cont-new{
    display: none;
}
section{
    margin: 0 5%;
}
#cont-inicio h2, #cont-new h2, #cont-edit h2 {
    font-size: 2.5em;
    line-height: 1.3em;
    padding-bottom: 5px;
    font-family: 'flama-medium';
    color: #93C462;
    font-weight: normal;
}
.cont-img{
    width: 35%;
    display: inline-block;
    margin: 0 5%;
}
.cont-img img{
    width: 50%;
    margin: auto;
    display: block;
}
.btn-junta{
    background: #93C462;
    font-size: 0.875em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: 0 none;
    background-clip: padding-box;
    height: 40px;
    padding: 5px 10px;
    max-width: 140px;
    width: 100%;
    margin: 0 0 0 auto;
    display: inline-block;
    position: relative;
}
.btn-junta:hover{
    color: white;
    background: #77A647;
}
table{
    margin-bottom: 7rem;
}
table tbody tr td {
    line-height: 1.3em;
    padding: 10px;
    color: #757575;
    font-weight: normal;
    font-size: 0.938em;
}
table thead tr th {
    vertical-align: middle;
    width: 200px;
    color: #1D1D1B;
    font-weight: 500;
    font-size: 0.750em;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #000;
    padding: 10px;
    background: none;
    line-height: 1.1em;
}
table tbody tr td:first-child {
    font-weight: 500;
    color: #1D1D1B;
}
p.linea{
    height:1px;
    background-color: black;
}
section input{
    display: block;
}
#cont-inicio .delete2{
    border: 1px solid red;
    background-color: rgb(255, 0, 0);
}
#cont-new input[name='dni']:focus{
    background-color: #93c4625c;
    text-align: center;
}