*{
    font-size: 16px;
}
#contenido{
    margin: 0 5%;
}
#contenido h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    padding-bottom: 5px;
    font-family: 'flama';
    color: #93C462;
    font-weight: normal;
}
#contenido h1::after{
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    display: block;
    width: 256px;
    height: 4px;
    background: #1D1D1B;
}
.cont-img{
    width: 50%;
}
.cont-img img{
    width: 100%;
}
.btn{
    background: #93C462;
    font-size: 0.875em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: 0 none;
    background-clip: padding-box;
    height: 40px;
    padding: 5px 10px;
    max-width: 140px;
    width: 100%;
    margin: 0 0 0 auto;
    display: block;
    position: relative;
}
.btn:hover{
    color: white;
    background: #77A647;
}